<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css.css"/>
    <title>Cadastro de pessoas</title>
</head>
<body>
    <section>
        <center><h2 class="cadastre">Cadastre-se ⬇</h2></center>
        <form class="formzada" method="post" action="/pessoas/criar">

            <label id="nome" for="nome">Nome:</label>
            <input class="inputinicial" id="nome" name="nome" type="text"><br/>

            <label id="sobrenome" for="sobrenome">Sobrenome:</label>
            <input class="inputinicial" id="sobrenome" name="sobrenome" type="text"><br/>

            <label id="altura" for="altura">Altura:</label>
            <input class="inputinicial" id="altura" name="altura" type="text"><br/>

            <label id="idade" for="idade">Idade:</label>
            <input class="inputinicial" id="idade" name="idade" type="text"><br/>

            <input class="button" type="submit" value="Enviar"/>
        </form>
    </section>
</body>
</html>
